<%= render partial: 'spree/shared/secondary_header' %>
<div class="container-fluid background-white-color">
    <div class="row clearfix">
        <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-12 col-xs-12 b-order_2">
        <div class="b-about_text">
            <h1 class="text-center">Consectetur Lobortis Maecenas Risus Mi Lacus Cond Consequat.</h1>
            <p class="text-muted">Suspendisse leo sodales varius leo elementum vestibulum a elit at ultrices a mi a praesent enim libero ultrices a amet suscipit. A tempus iaculis habitasse suspendisse aenean parturient blandit a rutrum leo elementum purus a a et id non feugiat donec.</p>
            <%= image_tag "about-sign.jpg", class: "img-fluid d-block m-auto" %>
            <div class="b-blog_social">
            <ul class="list-unstyled clearfix mb-0">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
            </div>
        </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-12 col-xs-12 b-about_img">
        <%= image_tag "about-me.jpg", class: "img-fluid d-block m-auto" %>
        </div>
    </div>
</div>