<% unless @product_properties.empty? %>  
  <ul class="pl-0 list-unstyled">
    <li><a href="#"><i class="icon-heart icons"></i> Add to wishlist</a></li>
    <li><a href="#"><i class="icon-refresh icons"></i> Compare</a></li>
          <% @product_properties.each do |product_property| %>
            <li><b><%= product_property.property.presentation %></b>: <%= product_property.value %></li>
          <% end %>
          <% reset_cycle('properties') %>
    <li>
        <b>Share</b>: 
        <span class="b-share_product">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-envelope"></a>
            <a href="#" class="fa fa-google-plus"></a>
            <a href="#" class="fa fa-pint"></a>
        </span>
    </li>
</ul>
<% end %>
