.logo{
    margin:auto;
    width: 200px;
    padding: 20px 0 0 0;
}
.b-menu_top_bar_container .b-main_menu{
    padding-top: 0px;
}
.b-header_fixed .b-header_main {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    height: 150px;
}
.b-our_service_text h3, h5, p{
    color: white;
    font-weight: lighter;
}

.b-our_service_text p{
    margin-bottom:0px;
}
.full-width{
    width:100%;
}

.carousel-item img{
    width:100%;
    height:100%;
}
.b-sidebar_widget .b-widget_title{
    color:white;
}

.b-sidebar_widget .b-sidenav ul li a{
    color:white;
}
.b-sidebar_widget .b-sidenav ul.b-recent_comment li b{
    color:white;
}
.b-page_title{
    padding:90px 15px 20px;
}
.b-product_grid_toggle .b-add_cart a{
    color:white;
}
.b-product_grid_info h3 a{
    color:white;
}
.pt-3 {
    padding-top: 4rem !important;
}
.background-white-color{
    background-color:white;
}
.b-main_menu > ul > li.b-dropdown_wrapper > a
{
    font-family: metronic-slab;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    color: #fff;
}
@media (max-width: 1065px) {
    .hidden-main-menu-down {
      display: none !important; } 
}
@media (min-width: 1065px)
{
    .hidden-menu-up {
        display: none !important; 
    }
}
.b-nav_icon
{
    color:white;
}
