<footer class="b-footer_container color-scheme-light hidden -sm-down">
    <div class="container b-main_footer">
        <!-- footer-main -->
        <aside class="row clearfix">
            <div class="b-footer_column col-md-12 col-sm-12">
                <div class="b-footer_block">
                    <div class="b-footer_block_in">
                        <p class="text-center mb-0"><%= image_tag "logo.png", class: "d-block m-auto img-fluid" %></p>
                        <ul class="b-social-icons text-center">
                            <li class="b-social_facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i>Facebook</a></li>
                            <li class="b-social_twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></li>
                            <li class="b-social_google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i>Google</a></li>
                            <li class="b-social_email"><a href="#" target="_blank"><i class="fa fa-envelope"></i>Email</a></li>
                            <li class="b-social_pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest"></i>Pinterest</a></li>
                        </ul>
                        <br>
                    </div>
                </div>
            </div>
            <div class="b-footer_column col-lg-2 col-md-3 col-sm-6 mb-4">
                <div class="b-footer_block">
                    <h5 class="b-footer_block_title">Our Stores</h5>
                    <div class="b-footer_block_in">
                        <ul class="b-footer_menu">
                            <li><a href="#">New York</a></li>
                            <li><a href="#">London SF</a></li>
                            <li><a href="#">Cockfosters BP</a></li>
                            <li><a href="#">Los Angeles</a></li>
                            <li><a href="#">Chicago</a></li>
                            <li><a href="#">Las Vegas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="b-footer_column col-lg-2 col-md-3 col-sm-6 mb-4">
                <div class="b-footer_block">
                    <h5 class="b-footer_block_title">Information</h5>
                    <div class="b-footer_block_in">
                        <ul class="b-footer_menu">
                            <li><a href="#">About Store</a></li>
                            <li><a href="#">New Collection</a></li>
                            <li><a href="#">Woman Dress</a></li>
                            <li><a href="contact-01.html">Contact Us</a></li>
                            <li><a href="#">Latest News</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                    </div>
                </div>
            </div> 
            <div class="b-footer_column col-lg-2 col-md-3 col-sm-6 mb-4">
                <div class="b-footer_block">
                    <h5 class="b-footer_block_title">Useful links</h5>
                    <div class="b-footer_block_in">
                        <ul class="b-footer_menu">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="contact-01.html">Contact Us</a></li>
                            <li><a href="#">Latest News</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="b-footer_column col-lg-2 col-md-3 col-sm-6 mb-4 mb-4">
                <div class="b-footer_block">
                    <h5 class="b-footer_block_title">Footer Menu</h5>
                    <div class="b-footer_block_in">
                        <ul class="b-footer_menu">
                            <li><a href="#">Instagram profile</a></li>
                            <li><a href="#">New Collection</a></li>
                            <li><a href="#">Woman Dress</a></li>
                            <li><a href="contact-01.html">Contact Us</a></li>
                            <li><a href="#">Latest News</a></li>
                            <li><a href="#" target="_blank">Purchase Theme</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="b-footer_column col-lg-4 col-md-12 col-sm-12 mb-4">
                <div class="b-footer_block">
                    <h5 class="b-footer_block_title">About The Store</h5>
                    <div class="b-footer_block_in">
                        <p>STORE - worldwide fashion store since 1978. We sell over 1000+ branded products on our web-site.</p>
                        <div class="b-contact_info">
                            <i class="fa fa-location-arrow d-inline-block"></i> 2099 S 10th Street Unit 30, San José, CA 95112
                            <br>
                            <i class="fa fa-mobile d-inline-block"></i> Phone: (877) 855-8620
                            <br> 
                        </div>
                        <br>
                        <p><%= image_tag "payments.png" %></p>
                    </div>
                </div>
            </div>
        </aside>
        <!-- footer-main -->
    </div>
    <!-- footer-bar -->
    <div class="b-copyrights_wrapper">
        <div class="container">
            <div class="d-footer_bar">
                <div class="text-center">
                    <i class="fa fa-copyright"></i>
                    <a href="#" class="text-white">
                        STRIKE BREWING COMPANY, 2099 S 10TH ST, SAN JOSE, CA, 95112, UNITED STATES(877) 855-8620
                    </a> 
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bar -->
</footer>