<header id="b-header"> 
    <div class="b-header b-header_main">
        <div class="container">
                <a href="#"><%= image_tag "logo.png", class:"img-fluid d-block logo" %></a>
                <div class="clearfix row">
                <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-6 col-xs-6">
                    
                </div>
                <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-12 col-xs-12 hidden-sm-down p-static hidden-md-down">
                    <div class="b-header_nav b-header_nav_center">
                    <div class="b-menu_top_bar_container">
                        <div class="b-main_menu menu-stay-left">
                            <ul class="categories pl-0 mb-0 list-unstyled">
                                <!-- Mega menu -->
                                <!-- Top level items -->
                                <li class="b-has_sub b-dropdown_wrapper from-bottom">
                                    <%= link_to root_path do %>
                                        <span class="top">Home</span>
                                    <% end %>
                                </li>  

                                <!-- Top level items -->
                                <li class=" b-has_sub b-dropdown_wrapper from-bottom p-static">
                                    <a href="shop-grid-three.html" class="p-relative description ">
                                    <span class="top">Shop</span><i class="menu-tag sale">SALE</i><i class="fa fa-angle-down"></i></a>
                                    <!-- Sub Menu items -->
                                    <div class="b-dropdown_content sub-holder dropdown-left" style="width: 1000px;">
                                        <div class="dropdown-inner">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="menu-item">
                                                        <h4 class="column-title"><b>SHOP STYLES</b></h4> 
                                                        <div class="categories">
                                                            <div class="row">
                                                                <div class="col-sm-12 hover-menu">
                                                                    <ul> 
                                                                        <li><a href="#">Masonry grid</a></li>
                                                                        <li><a href="shop-grid-leftbar.html">Alternative shop</a></li>
                                                                        <li><a href="shop-grid-four.html">Default style</a></li>
                                                                        <li><a href="#">Button on hover</a></li>
                                                                        <li><a href="#">Button hover alt</a></li>
                                                                        <li><a href="#">Hover info</a></li>
                                                                        <li><a href="#">Standard button</a></li>
                                                                        <li><a href="#">Quick shop products NEW</a></li>
                                                                        <li><a href="#">Grid/List switcher HOT</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="menu-item">
                                                        <h4 class="column-title"><b>PRODUCT PAGES</b></h4> 
                                                        <div class="categories">
                                                            <div class="row">
                                                                <div class="col-sm-12 hover-menu">
                                                                    <ul>  
                                                                        <li><a href="product-single.html">Default style</a></li>
                                                                        <li><a href="product-single-alternative.html">Alternative style</a></li>
                                                                        <li><a href="product-single-variation-image.html">Variations images</a></li>
                                                                        <li><a href="product-with-slider.html">Thumbnails bottom</a></li>
                                                                        <li><a href="#">Compact NEW</a></li>
                                                                        <li><a href="#">Sticky details</a></li>
                                                                        <li><a href="#">Extra content HOT</a></li>
                                                                        <li><a href="#">Thumbnails left</a></li> 
                                                                        <li><a href="#">Product with background</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="menu-item">
                                                        <h4 class="column-title"><b>PRODUCT FEATURES</b></h4> 
                                                        <div class="categories">
                                                            <div class="row">
                                                                <div class="col-sm-12 hover-menu">
                                                                    <ul>  
                                                                        <li><a href="#">360° product viewer</a></li>
                                                                        <li><a href="#">Zoom image</a></li>
                                                                        <li><a href="#">With video</a></li>
                                                                        <li><a href="#">Large Image</a></li>
                                                                        <li><a href="#">Infinit scrolling NEW</a></li>
                                                                        <li><a href="#">Variable Product</a></li>
                                                                        <li><a href="#">Grouped Product</a></li>
                                                                        <li><a href="#">External Product</a></li>
                                                                        <li><a href="#">Sidebar right</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>  
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="menu-item">
                                                        <h4 class="column-title"><b>SHOP PAGES</b></h4> 
                                                        <div class="categories">
                                                            <div class="row">
                                                                <div class="col-sm-12 hover-menu">
                                                                    <ul>  
                                                                        <li><a href="shop-grid-two.html">2 Columns</a></li>
                                                                        <li><a href="shop-grid-three.html">3 Columns</a></li>
                                                                        <li><a href="shop-grid-four.html">4 Columns</a></li>
                                                                        <li><a href="shop-grid-six.html">6 Columns</a></li>
                                                                        <li><a href="shop-grid-leftbar.html">Sidebar Left</a></li>
                                                                        <li><a href="shop-grid-rightbar.html">Sidebar Right</a></li>
                                                                        <li><a href="shop-grid-six.html">Full width</a></li>
                                                                        <li><a href="#">Category banner</a></li>
                                                                        <li><a href="#">RTL Shop page NEW</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>  
                                            </div>
                                            <!-- row -->
                                        </div>
                                    </div>
                                </li>
                                <!-- Top level items --> 
                                <li class="b-has_sub b-dropdown_wrapper from-bottom">
                                    <%= link_to "/blog" do %>
                                        <span class="top">Blog</span>
                                    <% end %>
                                </li> 
                                <!-- Top level items -->
                                <li class="b-has_sub b-dropdown_wrapper from-bottom p-static">
                                    <a href="product-single.html" class="p-relative"><span class="top">PAGES</span><i class="fa fa-angle-down"></i></a>
                                    <!-- Sub Menu items -->
                                    <div class="b-dropdown_content sub-holder dropdown-left" style="width: 1000px;">
                                        <div class="dropdown-inner">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-3 ">
                                                    <div class="menu-item">
                                                        <h4 class="column-title"><b>PAGES</b></h4>
                                                        <!-- CATEGORIES CONTENT -->
                                                        <div class="categories">
                                                            <div class="row">
                                                                <div class="col-sm-12 hover-menu">
                                                                    <ul>
                                                                        <li><a href="faq.html">FaQs</a></li>
                                                                        <li><a href="about-me.html">About Me</a></li>
                                                                        <li><a href="shop-grid-three.html">Our Shop</a></li>
                                                                        <li><a href="our-services.html">Our Service</a></li>
                                                                        <li><a href="#">Our Company</a></li>
                                                                        <li><a href="contact-01.html">Contact Us</a></li>
                                                                        <li><a href="our-gallery.html">Our Gallery</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3 ">
                                                    <div class="menu-item">
                                                        <h4 class="column-title"><b>HEADER</b></h4>
                                                        <!-- CATEGORIES CONTENT -->
                                                        <div class="categories">
                                                            <div class="row">
                                                                <div class="col-sm-12 hover-menu">
                                                                    <ul>
                                                                        <li><a href="#">Header base</a></li> 
                                                                        <li><a href="#">Simplified</a></li> 
                                                                        <li><a href="#">With logo center</a></li>
                                                                        <li><a href="#">Categories menu HOT</a></li> 
                                                                        <li><a href="#">Top bar menu</a></li> 
                                                                        <li><a href="#">Split menu</a></li> 
                                                                        <li><a href="#">Dark header</a></li> 
                                                                    </ul>
                                                                </div>  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 
                                                <div class="col-xs-12 col-sm-3 ">
                                                    <div class="menu-item">
                                                        <h4 class="column-title"><b>PORTFOLIO</b></h4>
                                                        <!-- CATEGORIES CONTENT -->
                                                        <div class="categories">
                                                            <div class="row">
                                                                <div class="col-sm-12 hover-menu">
                                                                    <ul>
                                                                        <li><a href="portfolio.html">Portfolio Default</a></li> 
                                                                        <li><a href="portfolio-alternative.html">Portfolio Alternative</a></li> 
                                                                        <li><a href="portfolio-text.html">Portfolio Text</a></li> 
                                                                        <li><a href="portfolio-nospace.html">Portfolio Nospace</a></li> 
                                                                        <li><a href="portfolio-fullwidth.html">Portfolio Fullwidth</a></li> 
                                                                        <li><a href="portfolio-single.html">Single Project</a></li> 
                                                                        <li><a href="portfolio-single-fullwidth.html">Single Project Full</a></li> 
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>  
                                                <div class="col-xs-12 col-sm-3 ">
                                                    <div class="menu-item">
                                                        <h4 class="column-title"><b>SHOP</b></h4>
                                                        <!-- CATEGORIES CONTENT -->
                                                        <div class="categories">
                                                            <div class="row">
                                                                <div class="col-sm-12 hover-menu">
                                                                    <ul>
                                                                        <li><a href="cart-default.html"><i class="fa fa-shopping-cart"></i> Cart</a></li> 
                                                                        <li><a href="#"><i class="fa fa-credit-card"></i>  Checkout</a></li> 
                                                                        <li><a href="my-account.html"><i class="fa fa-user"></i>  My Account</a></li>
                                                                        <li><a href="#"><i class="fa fa-heart"></i>  Whishlist</a></li> 
                                                                        <li><a href="track-order.html">Track Order</a></li> 
                                                                        <li><a href="404.html">404</a></li> 
                                                                        <li><a href="#">Maintenance mode</a></li> 
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>
                                            <!-- row -->
                                        </div>
                                    </div>
                                </li>
                                <li class="b-has_sub b-dropdown_wrapper from-bottom">
                                    <a href="#"><span class="top">FEATURES</span></a>
                                </li>   
                            </ul>
                        </div>
                    </div> 
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-mb-4 col-sm-6 col-xs-6">
                    <div class="b-header_right"> 
                    <div class="b-search_icon hidden-sm-down">
                        <a href="javascript:;" id="b-search_toggle" class="d-inline-block">
                        <i class="icon-magnifier icons"></i>
                        </a>
                    </div>
                    <div class="b-wishlist_icon">
                        <a href="#" class="d-inline-block">
                        <i class="icon-heart icons"></i>
                        <span>0</span>
                        </a>
                    </div>
                    <div class="b-cart_basket pr-0">
                        <a href="javascript:void(0);" id="b-mini_cart" class="d-inline-block">
                        <i class="icon-basket icons"></i>
                        <span class="b-cart_totals">
                            <span class="b-cart_number">3</span>
                            <span class="b-subtotal_divider">/</span> 
                            <span class="b-cart_subtotal">
                            <span class="b-cart_amount amount">
                                <span class="b-cart_currency">£</span>100.00
                            </span>
                            </span>
                        </span>
                        </a>
                    </div>
                    <div class="hidden-lg-up">
                        <i class="icon-menu icons b-nav_icon" id="b-nav_icon"></i>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>