
<div class="b-main_menu-wrapper hidden-lg-up">
    <ul class="mobile-top"> 
        <li class="search">
            <div class="search-holder-mobile">
                <input type="text" name="search-mobile" value="" placeholder="Search" class="form-control">
                <a class="fa fa-search"></a>
            </div>
        </li>
    </ul>
    <ul class="categories"> 
        <li class="has-sub dropdown-wrapper from-bottom">
            <%= link_to root_path do %>
                <span class="top">Home</span>
            <% end %>
        </li>
        <!-- Top level items -->
        <li class=" has-sub dropdown-wrapper from-bottom">
            <a href="shop-grid-three.html"><span class="top">Shop</span><i class="fa fa-angle-down"></i></a>
            <!-- Sub Menu items -->
            <div class="dropdown-content sub-holder dropdown-left narrow">
                <div class="dropdown-inner">
                    <div class="clearfix">
                        <div class="col-xs-12 col-sm-12 ">
                            <div class="menu-item"> 
                                <div class="categories">
                                    <div class="clearfix">
                                        <div class="col-sm-12 hover-menu">
                                            <ul>
                                                <li><a href="shop-grid-three.html">shop</a></li>
                                                <li><a href="product-single.html">single product</a></li>
                                                <li><a href="#">checkout</a></li> 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </li> 
        <li>
            <%= link_to "/blog" do %>
                <span class="top">Blog</span>
            <% end %>
        </li>
        <li>
            <a href="portfolio.html"><span class="top">Portfolio</span></a>
        </li>
        <li class="has-sub dropdown-wrapper from-bottom">
            <a href="#"><span class="top">Accessories</span><i class="fa fa-angle-down"></i></a> 
            <div class="dropdown-content sub-holder dropdown-left narrow">
                <div class="dropdown-inner">
                    <div class="clearfix">
                        <div class="col-xs-12 col-sm-12 ">
                            <div class="menu-item"> 
                                <div class="categories">
                                    <div class="clearfix">
                                        <div class="col-sm-12 hover-menu">
                                            <ul>
                                                <li><a href="contact-01.html">contact us</a></li>
                                                <li><a href="faq.html">faq</a></li>
                                                <li><a href="our-gallery">our gallery</a></li> 
                                                <li><a href="our-services.html">our services</a></li> 
                                                <li><a href="shop-grid-three">our shop</a></li>  
                                                <li><a href="our-gallery.html">our gallery</a></li> 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </li>
        <li>
            <a href="cart-default.html"><span class="top">Cart</span></a>
        </li>
        <li>
            <a href="my-account.html"><span class="top">My Account</span></a>
        </li>
        <li>
            <a href="#"><span class="top">wishlist</span></a>
        </li>
        <li>
            <a href="my-account.html"><span class="top">login</span></a>
        </li> 
    </ul> 
</div>  